<h1>Login</h1>

<form name="login" method="POST" action="/login">
	<label>username:<input type="text" name="username" autofocus></label>

	<label>password:<input type="password" name="password"></label>
	<input type="submit" value="Submit">
</form>