.wrapper {
  background: grey;
  h1 {
    color: blue;
  }
  ul {
    li {
      color: red;
      a {
        color: blue;
      }
    }
  }
}

.wrapper {
  background: grey
}

.wrapper h1 {
  color: blue;
}

.wrapper ul {

}

.wrapper ul li {

}

.wrapper ul li a {

}

